<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Web Programing Final Project</title>
  <link rel="stylesheet" href="style.css">
  <script src="action.js"></script>
</head>

<body>
  <div class="wrapper">
    <div id="page1">
      <img id="PaperPollen" src="./images/PaperPollen.png" />
      <img id="RockImg" src="./images/Rock.png" />
      <h1 id="Headline">Hello! I'm ChanWoo Cho</h1>
      <h1 id="Description">
        Junior <span style="color: #6be790">Back-End</span> Developer
      </h1>
      <p id="scroll">scroll down</p>
      <img id="DownArrow" src="./images/DownArrow.svg" />
    </div>
    <div id="page2">
      <img id="SkillImg" src="./images/Skill.png" />
      <p id="SkillText">Skill</p>
      <p id="SkillDesc">
        Next is the development environment and framework that I usually use
        when developing.
      </p>
      <div class="MobileCard">
        <div class="Card">
          <img class="CardImage" src="./images/Nodejs.svg" />
          <img id="Check" src="./images/Check.svg" />
          <h1 id="CardTitle">Node.js</h1>
          <p id="Line"></p>
          <p id="CardDesc">
            <strong>Node.js</strong> is an open-source, cross
            platform, backend JavaScript runtime environment that runs on the V8
            engine and executes JavaScript code outside a web browser.
          </p>
          <p id="CardSkill">skill</p>
          <img id="Gauge" src="./images/70p.svg" />
          <p id="Persentage">70%</p>
        </div>
        <div class="Card">
          <img class="CardImage" src="./images/Express.svg" />
          <img id="Check" src="./images/Check.svg" />
          <h1 id="CardTitle">Express</h1>
          <p id="Line"></p>
          <p id="CardDesc">
            <strong>Express</strong> is a back end web application
            framework for Node.js, released as free and open-source
            software under the MIT License.
          </p>
          <p id="CardSkill">skill</p>
          <img id="Gauge" src="./images/50p.svg" />
          <p id="Persentage">50%</p>
        </div>
        <div class="Card">
          <img class="CardImage" src="./images/Nest.svg" />
          <img id="Check" src="./images/Check.svg" />
          <h1 id="CardTitle">Nest.js</h1>
          <p id="Line"></p>
          <p id="CardDesc">
            <strong>Nest</strong> is a framework for building efficient,
            scalable Node.js server-side applications. It uses progressive
            JavaScript, is built with and fully supports TypeScript.
          </p>
          <p id="CardSkill">skill</p>
          <img id="Gauge" src="./images/30p.svg" />
          <p id="Persentage">30%</p>
        </div>
        <div class="Card">
          <img class="CardImage" src="./images/Spring.svg" />
          <img id="Check" src="./images/Check.svg" />
          <h1 id="CardTitle">Spring</h1>
          <p id="Line"></p>
          <p id="CardDesc">
            The <strong>Spring Framework</strong> is an  application
            framework and inversion of control container for the Java platform.
            The framework's core features can be used by any Java application.
          </p>
          <p id="CardSkill">skill</p>
          <img id="Gauge" src="./images/20p.svg" />
          <p id="Persentage">20%</p>
        </div>
      </div>
    </div>
    <div id="page3">
      <img id="VImage" src="./images/V.png">
      <h1 id="Work">Work</h1>
      <p id="WorkDesc">Let me introduce my service and the technologies I used! Don't freak out because there are some
        things that are not completed.</p>
      <img id="Modal1" src="./images/Modal1.png">
      <img id="App1" src="./images/App1.png">
      <h1 id="Beforeget">Beforeget</h1>
      <p id="BeforegetDesc">
        An era called the flood of media. Do you remember all the fun media?
        A service where you can record your media consumption habits and feel
        the emotions of the time you enjoyed it again!
      </p>
      <img id="Stack1" src="./images/Stack1.png">
      <p id="MobileLine"></p>
      <img id="Modal2" src="./images/Modal2.png">
      <img id="App2" src="./images/App2.png">
      <h1 id="WAL">WAL</h1>
      <p id="WALDesc">🐶 A ray of sound in a calm life, wah!
        When you feel down, when you need a stimulus to work hard,
        Have you ever wanted someone to say anything by your side?
        With the type of support you want, let's smile at least once a day!</p>
      <img id="Stack2" src="./images/Stack2.png">
    </div>
    <div id="page4">
      <img id="Party" src="./images/Party.png">
      <h1 id="BottomName">Chanwoo Cho</h1>
      <p id="BottomDesc">chanwoocho@gmail.com</p>
      <p id="Copyright">Copyright Ⓒ 2022 ChanwooCho - All rights reserved.</p>
      <img id="Social" src="./images/Social.png">
    </div>
  </div>
  <!-- Contact -->
  <section id="contact">
    <div class="section_wrap">Contact</div>
    <div class="section_underline"></div>
    <div class="box_wrap">
      <div class="box">
        <div class="box_input">
          <input type="button" id="boardId" style="display: none;">
          <div class="name">
            <span>
              <input type="text" placeholder="이름" />
            </span>
          </div>
          <div class="pw">
            <span>
              <input type="password" placeholder="비밀번호" />
            </span>
          </div>
          <div class="contents">
            <span>
              <textarea name="" id="" cols="30" rows="10" placeholder="내용"></textarea>
            </span>
          </div>
          <div class="btn_wrap">
            <div
              class="section_footer_btn put_btn"
              onclick="saveWriting()"
            >
              등 록
            </div>
            <div class="section_footer_btn update_btn" style="display: none;" onclick="udpateBoard()">수 정</div>
            <div class="section_footer_btn cancel_btn" style="display: none;" onclick="updateCancel()">취 소</div>
          </div>
        </div>
      </div>
      <div class="box_list">
      </div>
    </div>
  </section>
</body>

</html>